{% extends 'basedisplay.html.twig' %}

{% block titre %}
    Liste des réclamations
{% endblock %}
{% block table %}


    <table class="table">
        <thead>
            <tr>

                <th>NomUser</th>
                <th>PrenomUser</th>
                <th>Numtel</th>
                <th>Email</th>
                <th>Description</th>
                <th>Objet</th>
                <th>Etat</th>
                <th>Date</th>
                <th>DateTraitement</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>

                <td>{{ reclamation.nomUser }}</td>
                <td>{{ reclamation.prenomUser }}</td>
                <td>{{ reclamation.numtel }}</td>
                <td>{{ reclamation.email }}</td>
                <td>{{ reclamation.description }}</td>
                <td>{{ reclamation.objet }}</td>
                <td>{{ reclamation.etat }}</td>
                <td>{{ reclamation.date ? reclamation.date|date('Y-m-d') : '' }}</td>
                <td>{{ reclamation.dateTraitement ? reclamation.dateTraitement|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('reclamation_edit', {'idReclamation': reclamation.idReclamation}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Aucune réclamation</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   <!-- <div id="div_histogram"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        {# {{ gc_language('fr') }} #}

        {# {{ gc_draw(histogram, 'div_histogram') }} #}
    </script>-->
{% endblock %}
